.wobble {
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-name: wobble;
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-iteration-count: 4;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -moz-animation-timing-function: steps(4, start);
  -webkit-animation-timing-function: steps(4, start);
  animation-timing-function: steps(4, start);
}

.wobble-left {
  -moz-animation-name: wobble-left;
  -webkit-animation-name: wobble-left;
  animation-name: wobble-left;
}

.wobble-right {
  -moz-animation-name: wobble-right;
  -webkit-animation-name: wobble-right;
  animation-name: wobble-right;
}

@-moz-keyframes wobble-left {
  from {
    left: 10px;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes wobble-left {
  from {
    left: 10px;
  }
  to {
    left: 0;
  }
}

@keyframes wobble-left {
  from {
    left: 10px;
  }
  to {
    left: 0;
  }
}

@-moz-keyframes wobble-right {
  from {
    right: 10px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes wobble-right {
  from {
    right: 10px;
  }
  to {
    right: 0;
  }
}

@keyframes wobble-right {
  from {
    right: 10px;
  }
  to {
    right: 0;
  }
}