/****** index.css ******/

body {
	background-color: #225;
	color: white;
	border: 0;
	
	cursor: default; /* largely to prevent I-beam from appearing */
}

#content {
	outline: none !important; /* avoid border because of tabindex=0 */
}

.some-space-above {
	margin-top: 25px;
}

.fancy-text
{	
	font-size: 24pt;
	font-weight: 400;
	font-family: 'Euphoria Script', 'Norican', sans-serif;

	text-shadow: #666 2px 0 1px;
	
	position: relative;
	z-index: 1;
	bottom: -10px;
}

#photo {
	vertical-align: center;
	margin-bottom: 10px;
	padding: 0px;
}

#photo img { 
	border: 4px solid #448;
	border-radius: 10px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* navigation insets */
.navbox
{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10%;
	
	cursor: pointer;
}

.navbox:hover, .navbox:active
{
}

.navbox-prev, .navbox-next {
	background-position-y: 40%;
	width: 30px;
	height: 100%;
}

.navbox-prev
{
	left: 10px;
	background-image: url(../img/nav-prev.png);
	background-repeat: no-repeat;
}

.navbox-next
{
	right: 10px;
	background-image: url(../img/nav-next.png);
	background-repeat: no-repeat;
}

/* caption/nav row */
#caption {
	min-height: 4em;
	padding: 0.5em 0 0.5em 0;
	
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	text-shadow: #228 0 3px 4px;
	text-transform: capitalize;
	
	background-color: #44B;
	border-top: 15px solid #66C;
	border-bottom: 15px solid #66C;
	border-radius: 5px;
	
	box-shadow: 0 10px 5px #224;
}

#caption span#text
{
	display: inline-block; 
	width: 75%
}

/* not compatible with IE9 or less */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/****/

/* border stuff */
.borderpart {
	line-height: 2.5em;
}

/****/

#footer {
	text-align: center;
}