<!DOCTYPE html>
<html>
<head>
	<title>Office Hours - 6/2/15 - And the awards go to...</title>
	
	<link href='http://fonts.googleapis.com/css?family=Euphoria+Script|Norican' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href="css/vendor/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/index.css" type="text/css">
	<link rel="stylesheet" href="css/animation-wobble.css" type="text/css">
	
	<script src="js/vendor/angular.js" type="text/javascript"></script>
	<Script src="js/app.js" type="text/javascript"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="officeAwards">
	
	<div ng-controller="photosController" id="content" class="container-fluid" tabindex="0" ng-keydown="handleKeydown($event)">
		<div class="row row-eq-height">
			<!-- space / border UL / border UC / border UR / space -->
			<div class="hidden-xs col-sm-2"></div>
			<div class="hidden-xs col-sm-1 borderpart"></div>
			<div class="col-xs-12 col-sm-6 borderpart">
				<div class="fancy-text">And the award for...</div>
			</div>
			<div class="hidden-xs col-sm-1 borderpart"></div>
			<div class="hidden-xs col-sm-2"></div>
		</div>
		
		<div class="row row-eq-height noselect">
			<!-- space / LEFT NAV / CAPTION / RIGHT NAV / space -->
			<div class="hidden-xs col-sm-2"></div>
			<div class="col-xs-1"></div>
			<div class="col-xs-10 col-sm-6" id="caption">
				<div class="navbox navbox-prev wobble wobble-left" ng-click="navPrev()"></div>
				<span id="text">{{ photoCurrent.caption }}</span>
				<div class="navbox navbox-next wobble wobble-right" ng-click="navNext()"></div>
			</div>
			<div class="col-xs-1"></div>
			<div class="hidden-xs col-sm-2"></div>
		</div>
		
		<div class="row row-eq-height">
			<!-- space / border UL / border UC / border UR / space -->
			<div class="hidden-xs col-sm-2"></div>
			<div class="hidden-xs col-sm-1 borderpart"></div>
			<div class="col-xs-12 col-sm-6 borderpart">
				<div class="fancy-text" style="text-align: right;">...goes to...</div>
			</div>
			<div class="hidden-xs col-sm-1 borderpart"></div>
			<div class="hidden-xs col-sm-2"></div>
		</div>
	
		<div class="row row-eq-height noselect">
			<!-- space / border ML / PHOTO / border MR / space -->
			<div class="hidden-xs col-sm-2"></div>
			<div class="hidden-xs col-sm-1 borderpart"></div>
			<div class="col-xs-12 col-sm-6" id="photo">
				<div class="navbox navbox-prev wobble wobble-left" ng-click="navPrev()"></div>
				<img ng-src="{{ photoCurrent.src }}" class="img-responsive">
				<div class="navbox navbox-next wobble wobble-right" ng-click="navNext()"></div>
			</div>
			<div class="hidden-xs col-sm-1 borderpart"></div>
			<div class="hidden-xs col-sm-2"></div>
		</div>
		
		<div class="row">
			<!-- SPACE / FOOTER / SPACE -->
			<div class="col-xs-3"></div>
			<div class="col-xs-6" id="footer">
				<a href="https://bitbucket.org/hautespire/office-hours-awards/">Bitbucket</a>
			</div>
			<div class="col-xs-3"></div>
		</div>
	</div>
	
	<!-- services -->
	<script src="js/services/getPhotos.js" type="text/javascript"></script>
	
	<!-- controllers -->
	<script src="js/controllers/photosController.js" type="text/javascript"></script>
	
</body>
	
</html>